@charset "utf-8";
body {
    background: white;
    margin: 0;
    padding: 0;
    color: #2C3E50;
    font: 14px/18px "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.header-placeholder {
    position: relative;
    width: 100%;
    height: 80px;
    z-index: 200;
    background-color: #D0D0D0;
}

.header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.header.logo {
    text-align: left;
}

.header.title{
    margin: 0 auto;
    text-align: center;
}

.header.account{
    text-align: right;
}

