<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>add book</title>
    <link rel="stylesheet" type="text/css" href="../../../css/layui.css">
    <link rel="stylesheet" type="text/css" href="../../../css/glo.css">
</head>
<body>
    #parse("headfoot/header.vm")
<div class="banner product">
    <div class="title">
        <p>新增书籍</p>
        <p class="en">Add Book</p>
    </div>
</div>
<div class="layui-container nav-posi">
    <div class="nav-left">当前位置：<a href="/">首页</a> > <a href="/book/list">书籍列表</a> > <span>新增书籍</span></div>
</div>
<form class="layui-container add-form" action="http://www.book.com/book/add" name="addForm" method="post">
    #if($VO.errorMsg)
        <div class="form-error show">#*show：显示  hide：隐藏*#
            <img src="../../../img/zhuyi.png" alt="">
            <span>$VO.errorMsg</span>
        </div>
    #end
    <div class="form-label">
        <label>
            <span class="label-text">书名：</span>
            <input class="label-input" type="text" placeholder="请输入书名" id="bookName" name="bookName" maxlength="200"
                   value="$!VO.bookName">
        </label>
    </div>
    <div class="form-label">
        <label>
            <span class="label-text">封面图片：</span>
            <input class="input-upload" type="file" placeholder="选择文件" onchange="uploadPic(this)">
            <br>
            <img id="filePic" style="height: 200px; width: 200px;" #if($!VO.bookPic)src="$!VO.bookPic"#end >
            <input type="hidden" id="bookPic" name="bookPic" value="$!VO.bookPic">
        </label>
    </div>
    <div class="form-label">
        <label>
            <button type="submit" class="submit-btn">添加</button>
        </label>
    </div>
</form>
    #parse("headfoot/footer.vm")
<script src="../../../js/book.js"></script>
</body>
</html>
