<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.njucm.book.user.dao.IUserChapterMapDao">
    <resultMap id="baseResultMap" type="edu.njucm.book.user.domain.UserChapterMap">
        <result property="recId" column="rec_id"/>
        <result property="chapterId" column="chapter_id"/>
        <result property="userId" column="user_id"/>
        <result property="deleteFlag" column="delete_flag"/>
        <result property="addTime" column="add_time"/>
    </resultMap>

    <insert id="add" parameterType="edu.njucm.book.user.domain.UserChapterMap">
        insert into user_chapter_map(chapter_id, user_id)
        values(#{map.chapterId}, #{map.userId})
    </insert>

    <update id="delete" parameterType="java.lang.Long">
        update user_chapter_map set
        delete_flag = 1,
        where rec_id = #{recId}
    </update>

    <update id="deleteByChapterId" parameterType="java.lang.Long">
        update user_chapter_map set
        delete_flag = 1
        where chapter_id = #{chapterId}
    </update>

    <select id="listByUserId" resultMap="baseResultMap">
        select distinct rec_id, chapter_id, user_id, delete_flag, add_time
        from user_chapter_map
        where user_id = #{userId}
        and delete_flag = 0
    </select>

    <select id="countByUserIdAndChapterId" resultType="java.lang.Integer">
        select count(1) from user_chapter_map
        where user_id = #{userId}
        and chapter_id = #{chapterId}
        and delete_flag = 0
    </select>

</mapper>