<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>question detail</title>
    <link rel="stylesheet" type="text/css" href="../../webapp/WEB-INF/css/layui.css">
    <link rel="stylesheet" type="text/css" href="../../webapp/WEB-INF/css/glo.css">
</head>
<body>
<div class="word2-wrap">
    <div class="word2-top">
        <div class="word2-tit">《$!{book.bookName}》第$!{chapter.chapterNo}章测试卷</div>
        <div class="word2-name">
            <span>学号：_____________</span>
            <span>姓名：_____________</span>
        </div>
    </div>

## 选择题
    <div class="word2-list">
        <div class="word2-tit">一、选择题</div>
        #foreach($select in $!selects)
            <div class="word2-q">$!{velocityCount}、$select.question</div>
            #if($!select.base64Pic)
                <img src="$!select.base64Pic">
            #end
            <div class="word2-a">答案：$!select.answer</div>
        #end
    </div>

## 填空题
    <div class="word2-list">
        <div class="word2-tit">二、填空题</div>
        #foreach($blank in $!blanks)
            <div class="word2-q">$!{velocityCount}、$blank.question</div>
            <div class="word2-a">答案：$!blank.answer</div>
        #end
    </div>

## 简答题
    <div class="word2-list">
        <div class="word2-tit">三、简答题</div>
        #foreach($saq in $!saqs)
            <div class="word2-q">$!{velocityCount}、$saq.question</div>
            <span></span>
            #if($!saq.base64Pic)
                <img src="$!saq.base64Pic">
            #end
            <div class="word2-a">答案：$!saq.answer</div>
        #end
    </div>
</div>
</body>
</html>
