<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>add chapter</title>
    <link rel="stylesheet" type="text/css" href="../../css/layui.css">
    <link rel="stylesheet" type="text/css" href="../../css/glo.css">
</head>
<body>
    #parse("headfoot/header.vm")
<div class="banner product">
    <div class="title">
        <p>修改习题</p>
        <p class="en">Add Question</p>
    </div>
</div>
<div class="layui-container nav-posi">
    <div class="nav-left">当前位置：<a href="/">首页</a> > <a href="/book/detail/$!book.bookId">$!book.bookName</a> >
        <a href="/chapter/list?bookId=$!book.bookId">章节列表</a> > <a
                href="/question/list?chapterId=$!chapterId">习题列表</a> > <span>修改习题</span>
    </div>
</div>
<form class="layui-container add-form" action="http://www.book.com/question/update" name="updateForm"
      method="post">
    <div class="form-error show">#*show：显示  hide：隐藏*#
        <img src="../../img/zhuyi.png" alt="">
        <span>注意：只能修改对应知识点、题干、图片和答案，无法修改题目类型</span>
    </div>

    <input type="hidden" id="type" name="type" value="0">
    <div class="form-label">
        <input type="hidden" id="questionId" name="questionId" value="$!questionId">
        <label>
            <span class="label-text">知识点：</span>
            <select id="contentId" name="contentId" lay-verify="required">
                <option value="">请选择知识点</option>
                #foreach($content in $contents)
                    #if($content.contentType == 4)
                        <option value="$content.contentId"
                                #if($!VO.contentId==$content.contentId)selected#end>$!content.contentName</option>
                    #end
                #end
            </select>
        </label>
    </div>
    <div class="form-label">
        <label>
            <span class="label-text">题干：</span>
            <input class="label-input" type="text" placeholder="请输入题干" id="question"
                   name="question"
                   value="$!VO.question">
        </label>
    </div>
    <div class="form-label">
        <label>
            <span class="label-text">图片：</span>
            <input class="input-upload" type="file" placeholder="选择文件"
                   onchange="uploadPicContent(this)">
            <br>
            <img id="filePic" style="height: 200px; width: 200px;"
                 #if($!VO.base64Pic)src="$!VO.base64Pic"#end>
            <input type="hidden" id="base64Pic" name="base64Pic" value="$!VO.base64Pic">
        </label>
    </div>
    <div class="form-label">
        <label>
            <span class="label-text">答案：</span>
            <input class="label-input" type="text" placeholder="请输入答案" id="answer"
                   name="answer"
                   value="$!VO.answer">
        </label>
    </div>
    <div class="form-label">
        <label>
            <button type="submit" class="submit-btn J-submit-btn">修改</button>
        </label>
    </div>
</form>
<div class="footer">
    <div class="layui-container">
        <p class="footer-web">
            <a href="//www.book.com">首页</a>
            <a href="//user.book.com/register">注册</a>
            <a href="//user.book.com/login">登录</a>
        </p>
        <div class="layui-row footer-contact">
            <div class="layui-col-sm2 layui-col-lg1"><img style="height:100px; width:100px;" src="../../img/vx.jpg"
                                                          alt="vx"/></div>
            <div class="layui-col-sm10 layui-col-lg11">
                <div class="layui-row">
                    <div class="layui-col-sm6 layui-col-md8 layui-col-lg9">
                        <p class="contact-top"><i class="layui-icon"></i>&nbsp;&nbsp;&nbsp;&nbsp;+86 18811111111&nbsp;&nbsp;
                        </p>
                        <p class="contact-bottom"><i class="layui-icon"></i>&nbsp;&nbsp;&nbsp;&nbsp;ohouhou@163.com
                        </p>
                    </div>
                    <div class="layui-col-sm6 layui-col-md4 layui-col-lg3">
                        <p class="contact-bottom"><span class="right">南京中医药大学&nbsp;&nbsp;计算机162班&nbsp;</span></p>
                        <p class="contact-bottom"><span class="right">084416239&nbsp;黄蕾</span></p>
                        <p class="contact-bottom"><span class="right">毕业设计</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../../js/jquery.js"></script>
<script src="../../js/book.js"></script>
<script src="../../js/chapter.js"></script>
</body>
</html>
