<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>edit chapter</title>
    <link rel="stylesheet" type="text/css" href="../../../css/layui.css">
    <link rel="stylesheet" type="text/css" href="../../../css/glo.css">
</head>
<body>
    #parse("headfoot/header.vm")
<div class="banner product">
    <div class="title">
        <p>修改章节信息</p>
        <p class="en">Edit Chapter</p>
    </div>
</div>
<div class="layui-container nav-posi">
    <div class="nav-left">当前位置：<a href="/">首页</a> > <a href="/book/list">书籍列表</a> > <a
            href="/chapter/list?bookId=$VO.bookId">章节列表</a> > <span>修改章节信息</span></div>
</div>
<form class="layui-container add-form" action="http://www.book.com/chapter/update" name="addForm" method="post">
    #if($VO.errorMsg)
        <div class="form-error show">#*show：显示  hide：隐藏*#
            <img src="../../../img/zhuyi.png" alt="">
            <span>$VO.errorMsg</span>
        </div>
    #end
    <span>所属书本：$!VO.bookName</span>
    <input type="hidden" id="chapterId" name="chapterId" value="$!VO.chapterId">
    <input type="hidden" id="bookId" name="bookId" value="$!VO.bookId">
    <div class="form-label">
        <label>
            <span class="label-text">章节号：</span>
            <input class="label-input" type="text" placeholder="请输入章节号" id="chapterNo" name="chapterNo" maxlength="200"
                   value="$!VO.chapterNo">
        </label>
    </div>
    <div class="form-label">
        <label>
            <span class="label-text">章节名：</span>
            <input class="label-input" type="text" placeholder="请输入章节名" id="chapterName" name="chapterName"
                   maxlength="200" value="$!VO.chapterName">
        </label>
    </div>
    <div class="form-label">
        <label>
            <span class="label-text">讨论区开放与关闭：</span>
            <span><input type="radio" name="chatFlag" id="chatFlag" value="0" #if($!VO.chatFlag==0)checked#end>关闭</span>
            <span><input type="radio" name="chatFlag" id="chatFlag" value="1" #if($!VO.chatFlag==1)checked#end>开放</span>
        </label>
    </div>
    <div class="form-label">
        <label>
            <button type="submit" class="submit-btn">修改</button>
        </label>
    </div>
</form>
    #parse("headfoot/footer.vm")
<script src="../../../js/book.js"></script>
</body>
</html>
